doctype html

html
  head
    title The Avocado Hunt - Main Menu
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    meta(charset='utf-8')
    script(src='/js/userdata.js')
  body.center-align
    img(src='/assets/images/avocadohunt.png', alt='start the game', width='400', height='300')
    
