doctype html
html
  head
    meta(charset='UTF-8')
    title The Avocado Hunt
    script(src='//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  
  body
  div.center-align
    script(type='text/javascript', src='../js/game.js')
