html
  head
    title The Avocado Hunt
    script(src='//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    script(src='/js/userdata.js')

    meta(charset='utf-8')

    body.center-align
      img(src='/assets/images/avocadohunt.png', alt='Avocado Hunt', width='400', height='300')

      #app.container
        .row
          h3.green.darken-2.white-text.center-align.flow-text
            i.material-icons chevron_left
            | Meet the Hunters
            i.material-icons chevron_right
        main
          .row
            ul.collection(v-if='players.length')
              li.collection__item(v-for='(player, index) in players')
                h4.white-text.flow-text {{ player }}

      #vue-element
        div
          span
            a.waves-effect.waves-light.btn-large.green.darken-2(v-on:click='moveBack()')
              i.material-icons.left arrow_back
              | Main Menu


    script(src='/js/mainmenu.js')
