body {
  background-color: black;
  padding: 50px;
}

a {
  color: #00B7FF;
}

h3{
  font: 12px, "Lucida Grande";
  color: white;
}

h1{
  font: 16px, "Lucinda Grande";
  color: #388e3c;
}
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

li.collection__user{
  font: 12px, "Lucida Grande";
  color: white;
}

h4.{
  font: 12px, "Lucinda Grande";
  color: white;
}

canvas {
  display : block;
  margin : auto;
}

input.form__item{
  color:white;
  font: 12px, "Lucinda Grande", white;
  align: center;
}
input, select, textarea{
    color: white;
}
li.player{
  font:12px,"Lucinda Grande",white;
}
ul.collection__item{
  font:12px,"Lucinda Grande",white;
}
